[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "extern/httplib"]
	path = extern/httplib
	url = https://github.com/yhirose/cpp-httplib.git
